<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fame Hotel Accommodation</title>
    <!-- CSS Library -->
    <link rel="stylesheet" href="~/style/accommodation.css">
</head>

<body>
    <!-- Banner Alanı -->

    <div id="headertopaccommodation">
        <picture>
            <!-- Büyük ekranlar için resim -->
            <source media="(min-width: 768px)" srcset="/images/desktop/accomodation/accomodationBanner.png">
            <!-- Küçük ekranlar için resim -->
            <img src="/images/mobile/accomodation/accomodationBanner.png" alt="Accommodation Banner"
                 style="width: 100%;">
        </picture>
    </div>

    <!-- Standart Room -->
    <section id="accommodationcontent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center py-3">Accommodation</h1>
                    <h2 class="text-center py-4">Standart Room</h2>
                    <p class="text-center pb-4">
                        With its lush nature, white sandy beaches and seductive scents, all
                        luxury rooms of Fame Hotel have been specially designed to take the concept of luxury to the
                        next level.
                    </p>
                    <p class="text-center pb-4">
                        In our Standard Rooms with modern decoration, you can enjoy a double bed
                        in a large area of 50 square meters. It has a double bed, a single bed and a seating area.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Standart Room/comfort_standart1.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Standart Room/comfort_standart2.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="/images/desktop/accomodation/Standart Room/comfort_standart3.jpg"
                                 alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="/images/desktop/accomodation/Standart Room/comfort_standart6.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="p-3 d-flex">
                        <div class="col-2 text-center">
                            Area<br>
                            <hr />50 m2
                        </div>
                        <div class="col-3 text-center">
                            Floor<br>
                            <hr />Laminate
                        </div>
                        <div class="col-3 text-center">
                            View<br>
                            <hr />Sea Garden
                        </div>
                        <div class="col-4 text-center">
                            Bed Type<br>
                            <hr />1 Double or<br>2 Twin
                        </div>
                    </div>
                    <div>
                        <h3 class="text-center pb-2">Room Features</h3>
                        <div class="d-flex col-12 text-center">
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Shower-WC</li>
                                    <li>Split AC</li>
                                    <li>Hair Dryer</li>
                                    <li>LCD Sat TV</li>
                                    <li>Mini Bar</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Safe</li>
                                    <li>Balcony</li>
                                    <li>Sofa</li>
                                    <li>Wi-Fi</li>
                                    <li>Laminate Floor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Elite Standart Room -->
    <section id="accommodationcontent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center py-4">Elite Standart Room</h2>
                    <p class="text-center pt-4">Deluxe Room seems like it was built just for sun, fun and happiness…</p>
                    <p class="text-center pb-4">
                        Experience luxury in our Deluxe Rooms, featuring modern décor in a
                        spacious 75 sqm area. Enjoy a king-size bed, a comfortable seating area, and contemporary
                        amenities for a truly indulgent stay.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Elite Standart Room/elite_standart1.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Elite Standart Room/elite_standart2.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Elite Standart Room/elite_standart3.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Elite Standart Room/elite_standart4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="p-3 d-flex">
                        <div class="col-2 text-center">
                            Area<br>
                            <hr />75 m2
                        </div>
                        <div class="col-3 text-center">
                            Floor<br>
                            <hr />Laminate
                        </div>
                        <div class="col-3 text-center">
                            View<br>
                            <hr />Sea
                        </div>
                        <div class="col-4 text-center">
                            Bed Type<br>
                            <hr />1 Double or<br>2 Twin
                        </div>
                    </div>
                    <div>
                        <h3 class="text-center pb-2">Room Features</h3>
                        <div class="d-flex col-12 text-center">
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Shower-WC</li>
                                    <li>Split AC</li>
                                    <li>Hair Dryer</li>
                                    <li>LCD Sat TV</li>
                                    <li>Mini Bar</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Safe</li>
                                    <li>Balcony</li>
                                    <li>Sofa</li>
                                    <li>Wi-Fi</li>
                                    <li>Laminate Floor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Family Room -->
    <section id="accommodationcontent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center py-4">Family Room</h2>
                    <p class="text-center pt-4">Sea, sand and sun are best enjoyed with family...</p>
                    <p class="text-center pb-4">
                        Ideal for a family holiday, this very useful 2-room penthouse is
                        specially designed for families who cannot give up the happiness of being together.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Family Room/comfort_quad1 (1).jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid mb-3" src="/images/desktop/accomodation/Family Room/comfort_quad1.jpg"
                                 alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="/images/desktop/accomodation/Family Room/comfort_quad3.jpg"
                                 alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="/images/desktop/accomodation/Family Room/comfort_quad4.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="p-3 d-flex">
                        <div class="col-2 text-center">
                            Area<br>
                            <hr />95 m2
                        </div>
                        <div class="col-3 text-center">
                            Floor<br>
                            <hr />Laminate
                        </div>
                        <div class="col-3 text-center">
                            View<br>
                            <hr />Sea Garden
                        </div>
                        <div class="col-4 text-center">
                            Bed Type<br>
                            <hr />1 Double and 1 Twin
                        </div>
                    </div>
                    <div>
                        <h3 class="text-center pb-2">Room Features</h3>
                        <div class="d-flex col-12 text-center">
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Shower-WC</li>
                                    <li>Split AC</li>
                                    <li>Hair Dryer</li>
                                    <li>LCD Sat TV</li>
                                    <li>Mini Bar</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Safe</li>
                                    <li>Balcony</li>
                                    <li>Sofa</li>
                                    <li>Wi-Fi</li>
                                    <li>Laminate Floor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Comfort Swim Up Room -->
    <section id="accommodationcontent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center py-4">Comfort Swim Up Room</h2>
                    <p class="text-center pt-4">
                        Imagine a suite where you will feel comfortable all day long and have
                        the most enjoyable time of your life with the warm sun and deep blue sea view...
                    </p>
                    <p class="text-center pb-4">
                        Suite dazzles with its large balcony with magnificent sea view and
                        sophisticated interior design to ensure the high standards you desire.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up1.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid mb-3"
                                 src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up2.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid"
                                 src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up3.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid"
                                 src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="p-3 d-flex">
                        <div class="col-2 text-center">
                            Area<br>
                            <hr />125 m2
                        </div>
                        <div class="col-3 text-center">
                            Floor<br>
                            <hr />Laminate
                        </div>
                        <div class="col-3 text-center">
                            View<br>
                            <hr />Sea Garden
                        </div>
                        <div class="col-4 text-center">
                            Bed Type<br>
                            <hr />2 Double or<br>3 Twin
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3 class="text-center pb-2">Room Features</h3>
                        <div class="d-flex col-12 text-center">
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Shower-WC</li>
                                    <li>Split AC</li>
                                    <li>Hair Dryer</li>
                                    <li>LCD Sat TV</li>
                                    <li>Mini Bar</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="roomfeatureslist">
                                    <li>Safe</li>
                                    <li>Balcony</li>
                                    <li>Sofa</li>
                                    <li>Wi-Fi</li>
                                    <li>Laminate Floor</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>