<html>
<head>
    <title>Fame Hotel | Gallery</title>
    <link rel="stylesheet" href="/style/gallery.css">
</head>

    <body>

    <h1 class="gallery">Gallery</h1>

    <div class="flex-container my-5">

        <img src="/images/banner1.jpg" alt="1" width="400px" height="300px">
        <img src="/images/banner2.jpg" alt="2" width="400px" height="300px">
        <img src="/images/banner3.jpg" alt="3" width="400px" height="300px">

        <div>
            <img src="/images/banner4.jpg" alt="4" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Standart Room/comfort_standart1.jpg" alt="5" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Standart Room/comfort_standart2.jpg" alt="6" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Standart Room/comfort_standart3.jpg" alt="7" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Standart Room/comfort_standart6.jpg" alt="8" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up1.jpg" alt="9" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up2.jpg" alt="10" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up3.jpg" alt="11" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Comfort Swim up Room/comfort_Swim-up5.jpg" alt="12" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Elite Standart Room/elite_standart1.jpg" alt="13" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Elite Standart Room/elite_standart2.jpg" alt="14" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Elite Standart Room/elite_standart3.jpg" alt="15" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Elite Standart Room/elite_standart4.jpg" alt="16" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Family Room/comfort_quad1.jpg" alt="17" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Family Room/comfort_quad3.jpg" alt="18" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Family Room/comfort_quad1 (1).jpg" alt="19" width="400px"
                 height="300px">
        </div>
        <div>
            <img src="/images/desktop/accomodation/Family Room/comfort_quad4.jpg" alt="20" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/outdoor-pool.png" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/relax-pool.png" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/restoran-bar/bar-3.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/restoran-bar/bar-4.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/restoran-bar/bar-6.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/restoran-bar/bar-7.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/restoran-bar/restoran1.png" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/pool1.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/pool2.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/pool3.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/pool4.jpg" alt="21" width="400px" height="300px">
        </div>
        <div>
            <img src="/images/desktop/pool-beach/beach1.png" alt="21" width="400px" height="300px">
        </div>
    </div>

</body>
</html>