<html>
<head>
    <title>Fame Residence Hotel & Spa</title>
</head>

<body>
    <!-- OWl Carousel Header -->
    <section id="owl-carousel-content" class="overflow-hidden">
        <div class="container-fluid h-100 p-0">
            <div class="row">
                <div class="slider owl-carousel">
                    <div class="slide-item">
                        <picture>
                            <source media="(min-width: 576px)" srcset="/images/banner1.jpg">
                            <img src="/images/mobile/banner1.png" alt="banner1">
                        </picture>
                        <div class="kapsayici">
                            <div class="infocontainer">
                                <div class="caption text-center">For a Magical Holiday</div>
                                <div class="reservation text-center">
                                    <a href="/FameHotel/showReservation">Reservation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <picture>
                            <source media="(min-width: 576px)" srcset="/images/banner2.jpg">
                            <img src="/images/mobile/banner2.png" alt="banner2">
                        </picture>
                        <div class="kapsayici">
                            <div class="infocontainer">
                                <div class="caption">For a Magical Holiday</div>
                                <div class="reservation text-center">
                                    <a href="/FameHotel/showReservation">Reservation</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="slide-item">
                        <picture>
                            <source media="(min-width: 576px)" srcset="/images/banner3.jpg">
                            <img src="/images/mobile/banner3.png" alt="banner3">
                        </picture>
                        <div class="kapsayici">
                            <div class="infocontainer">
                                <div class="caption">For a Magical Holiday</div>
                                <div class="reservation text-center">
                                    <a href="/FameHotel/showReservation">Reservation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-item">
                        <picture>
                            <source media="(min-width: 576px)" srcset="/images/banner4.jpg">
                            <img src="/images/mobile/banner4.png" alt="banner4">
                        </picture>
                        <div class="kapsayici">
                            <div class="infocontainer">
                                <div class="caption">For a Magical Holiday</div>
                                <div class="reservation text-center">
                                    <a href="/FameHotel/showReservation">Reservation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Card Item Slider -->
    <section class="my-5">
        <div class="container-fluid overflow-hidden">
            <div class="row">
                <div class="slider-outer col-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="card">

                                <!-- CARD 1 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/home-card1.png" alt="Room1">
                                    </div>
                                    <h3>Standart Room</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/accommodation" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">

                                <!-- CARD 2 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/home-card2.png" alt="Room2">
                                    </div>
                                    <h3>Elite Standart Room</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/accommodation" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">

                                <!-- CARD 3 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/home-card3.png" alt="Restoran1">
                                    </div>
                                    <h3>Main Restaurant</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/restoranBar" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">

                                <!-- CARD 4 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/home-card4.png" alt="Restoran2">
                                    </div>
                                    <h3>A La Carte Restaurant</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/restoranBar" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">

                                <!-- CARD 5 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/home-card5.png" alt="Pool1">
                                    </div>
                                    <h3>Outdoor Pool</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/poolBeach" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">

                                <!-- CARD 6 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/home-card6.png" alt="Pool2">
                                    </div>
                                    <h3>Relax Pool</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/poolBeach" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">

                                <!-- CARD 7 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/homeCard7.png">
                                    </div>
                                    <h3>Family Room</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/accommodation" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">

                                <!-- CARD 8 -->
                                <div class="card-body">
                                    <div class="card-image mb-2">
                                        <img src="/images/desktop/Home/homeCard8.png" alt="Pool2">
                                    </div>
                                    <h3>Comfort Swim Up Room</h3>
                                    <div class="card-caption">
                                        <a href="/FameHotel/accommodation" class="btn incele btn-default center">
                                            Detailed
                                            Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>