<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fame Hotel Pool & Beach</title>

    <!-- CSS Library -->
    <link rel="stylesheet" href="/style/pool-beach.css">
</head>

<body>
    <!-- Banner Alanı -->

    <div id="headertoppoolbeach">
        <picture>
            <!-- Büyük ekranlar için resim -->
            <source media="(min-width: 768px)" srcset="/images/desktop/pool-beach/beachBanner.png">
            <!-- Küçük ekranlar için resim -->
            <img src="/images/mobile/pool-beach/beachBanner.png" alt="Accommodation Banner" style="width: 100%;">
        </picture>
    </div>

    <!-- Pools -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center my-5">Pool & Beach</h1>
                    <h2 class="text-center py-2">Pool</h2>
                    <p class="text-center">
                        Our hotel not only offers a comfortable accommodation experience but also
                        invites you to escape
                        into the refreshing embrace of water and sun. Our pool and beach areas cater to guests seeking
                        relaxation, enjoyment, and peaceful moments in a serene atmosphere.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-center py-4">
                    <h3 class="text-center">Relax Pool</h3>
                    <img src="/images/desktop/pool-beach/relax-pool.png" alt="relaxpool" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center py-4">
                    <h3 class="text-center">Outdoor Pool</h3>
                    <img src="/images/desktop/pool-beach/outdoor-pool.png" alt="outdoorpool" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center py-4">Beach</h2>
                    <p class="text-center">
                        Discover the ultimate relaxation at our pristine beach, a perfect escape for
                        those looking to unwind and indulge in the beauty of nature. The gentle lapping of the waves,
                        the soft golden sand under your feet, and the warm sun overhead create an idyllic setting for
                        both adventure and tranquility.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-center pt-4 pb-5">
                    <img src="/images/desktop/pool-beach/beach1.png" alt="relaxpool" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center pt-4 pb-5">
                    <img src="/images/desktop/pool-beach/beach2.png" alt="outdoorpool" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</body>
</html>