<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fame Hotel Restoran & Bar</title>

    <!-- CSS Library -->
    <link rel="stylesheet" href="/style/restoran-bar.css">
</head>

<body>
    <!-- Banner Alanı -->

    <div id="headertoprestoran">
        <picture>
            <!-- Büyük ekranlar için resim -->
            <source media="(min-width: 768px)" srcset="/images/desktop/restoran-bar/restoran-banner.png">
            <!-- Küçük ekranlar için resim -->
            <img src="/images/mobile/restoran-bar/restoran-banner.png" alt="Accommodation Banner"
                 style="width: 100%;">
        </picture>
    </div>

    <!-- Restaurants -->

    <section id="restorancontent">
        <div class="container">
            <div class="row pb-3">
                <div class="col-12">
                    <h1 class="text-center py-4">Restaurant & Bar</h1>
                    <p class="text-center">
                        Our hotel offers not only a comfortable accommodation experience but also an
                        unforgettable
                        gastronomic adventure. Our restaurant and bar provide a special atmosphere for food enthusiasts,
                        offering meticulously crafted delicious meals and refreshing beverages.
                    </p>
                </div>
                <div class="col-12 col-md-6 text-center py-4">
                    <h3>Main Restaurant</h3>
                    <img src="/images/desktop/restoran-bar/restoran1.png" alt="restoran1" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center py-4">
                    <h3>A La Carte Restaurant</h3>
                    <img src="/images/desktop/restoran-bar/restoran2.png" alt="restoran2" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- Bars -->

    <section id="barcontent">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12">
                    <h1 class="text-center py-2">Bars</h1>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h3 class="text-center">Lobby Bar</h3>
                            <img src="/images/desktop/restoran-bar/bar-3.jpg" alt="bar1" class="img-fluid mb-3">
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="text-center">Pool Bar</h3>
                            <img src="/images/desktop/restoran-bar/bar-4.jpg" alt="bar2" class="img-fluid mb-3">
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="text-center">Beach Bar</h3>
                                    <img src="/images/desktop/restoran-bar/bar-6.jpg" alt="bar3" class="img-fluid mb-3">
                                </div>
                                <div class="col-6">
                                    <h3 class="text-center">Snack Bar</h3>
                                    <img src="/images/desktop/restoran-bar/bar-7.jpg" alt="bar4" class="img-fluid mb-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>